<div th:fragment="CONTENT_X" >
	<div class="col-md-12">
		<div style="text-align: center;width: 100%" class="panel panel-warning card-view">
			<div class="panel-heading">
				<h4 class="panel-title txt-light">BUSINESS INTELLGENCE REPORTING (DEPUIS LA BASE D'ANALYSE OLAP MS SSAS) </h4>
			</div>
			<div style="text-align: center;width: 100%" >
				<br>
				<iframe width="100%" height="650" src="https://app.powerbi.com/view?r=eyJrIjoiMTg4NjM1NGEtYWRiMy00ZDVkLTlkNzgtM2VhODUyYjEwYTJhIiwidCI6ImY5M2Q1ZjQwLTg4YzAtNDY1MC1iOGYyLWNjNGVjM2VmNmExMCIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
			</div>
		</div>
	</div>
</div>
	
