<div th:fragment="CONTENT_X" >
	<div class="col-md-12">
		<div style="text-align: center;width: 100%" class="panel panel-warning card-view">
			<div class="panel-heading">
				<h4 class="panel-title txt-light">BIENVENU DANS LA MINI-DOCUMENTATION MS AZURE MACHINE LEARNING STUDIO</h4>
			</div>
			<div style="text-align: center;width: 100%" >
				<br>
				<img style="width: 98%" src="/docs/ML-Studio.png" />
				<br>
				<img style="width: 98%" src="/docs/AlgoDecisionTree-2.png" />
			</div>
		</div>
	</div>
</div>
	
